APP_NAME="UniEvent"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=smart_university_events
DB_USERNAME=root
DB_PASSWORD=
SESSION_DRIVER=file
NODE_NOTIFICATION_URL=http://localhost:3000
NODE_BROADCAST_KEY=presentation-demo-key
